body {
    margin: 0;
}

#mainCanvas {
    width: 100vw;
    height: 100vh;
    cursor: move;
}

#zoomInput {
    grid-area:slider;
}

#zoomInputBox {
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    grid-template-rows: 20px auto;
    grid-template-areas: "minus . text . plus" 
    "slider slider slider slider slider";
}